get Reddit News/getRedditNews.json
{
  "name": "getRedditNews",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "ba771fda-7f9c-48a0-9034-9c90e4b3ac23",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "n8n workflow OR n8n automation OR n8n tricks OR n8n tips OR n8n nodes OR n8n integration",
        "limit": 30,
        "additionalFields": {
          "sort": "relevance"
        }
      },
      "id": "cac3d97b-531d-4796-b3f5-d635f6f0e4c0",
      "name": "Search Reddit - n8n",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        20,
        -100
      ],
      "credentials": {
        "redditOAuth2Api": {
          "id": "lmmY4qDrZTX3mXc7",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Group all posts and format them into HTML\nconst posts = $input.all();\nlet emailContent = `\n<h2>Daily n8n Reddit Digest - ${new Date().toLocaleDateString()}</h2>\n<p>Here are the best n8n-related posts from Reddit in the last 24 hours:</p>\n<hr>\n`;\n\nif (posts.length === 0) {\n  emailContent += '<p>No high-quality n8n posts found today.</p>';\n} else {\n  posts.forEach((item, index) => {\n    const post = item.json;\n    const postUrl = `https://reddit.com${post.permalink}`;\n    \n    emailContent += `\n    <div style=\"margin-bottom: 30px; padding: 15px; border: 1px solid #eee; border-radius: 8px;\">\n      <h3 style=\"color: #1a73e8;\">${index + 1}. ${post.title}</h3>\n      <p><strong>Subreddit:</strong> r/${post.subreddit} | <strong>Score:</strong> ${post.score} | <strong>Comments:</strong> ${post.num_comments}</p>\n      <p><strong>Author:</strong> u/${post.author} | <strong>Posted:</strong> ${new Date(post.created_utc * 1000).toLocaleString()}</p>\n      <p style=\"color: #555;\">${post.selftext ? post.selftext.substring(0, 300) + (post.selftext.length > 300 ? '...' : '') : 'No description available'}</p>\n      <p><a href=\"${postUrl}\" style=\"color: #1a73e8; text-decoration: none; font-weight: bold;\">Read Full Post →</a></p>\n    </div>\n    `;\n  });\n}\n\nemailContent += `\n<hr>\n<p style=\"color: #666; font-size: 12px; text-align: center;\">This digest was automatically generated by n8n workflow.</p>\n`;\n\nreturn [{\n  json: {\n    emailContent: emailContent,\n    postCount: posts.length,\n    subject: `Daily n8n Reddit Digest - ${new Date().toLocaleDateString()} (${posts.length} posts)`\n  }\n}];"
      },
      "id": "7b8b4137-7874-41e7-be58-80284e08b6ef",
      "name": "Format Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -100
      ]
    },
    {
      "parameters": {
        "sendTo": "cbobadilla.dsoft@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailContent }}",
        "options": {}
      },
      "id": "59349b16-ee5f-4a71-8f8c-4eec8f834e15",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -140
      ],
      "webhookId": "e3f2a6ab-ed8e-404b-b3c8-4eb7233f89f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "jXIedyMCAXIocc0C",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1095f962-9259-4654-b99d-077f7cfd91ea",
              "leftValue": "={{ $json.score }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        -200
      ],
      "id": "7cc7b2e2-e1c8-47f1-b122-68fa1f6bf29b",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Reddit - n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Reddit - n8n": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Content": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Format Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de30dfea-0d79-4b3d-bcdf-9dc922f757d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01fa02556f5dc3ba5878416fc205d11b67b9295ba7e28fa11ccc7653585040cf"
  },
  "id": "XBraegtCN9EQWNwJ",
  "tags": []
}